.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

body {
  font-family: Arial, sans-serif;
}

.menu-container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu {
  text-align: center;
}

.menu-image img {
  height:6rem;
  width: 100%;
}

.menu-item {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.menu-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.menu-description a{
  color: black;
}

.menu-price {
  font-size: 18px;
  font-weight: bold;
}